<h2 mat-dialog-title>
    <ng-container
        *ngIf="isEditMode; then editTitle; else createTitle"
    ></ng-container>
    <ng-template #createTitle>Create New Document</ng-template>
    <ng-template #editTitle>Edit Document</ng-template>
</h2>
<mat-dialog-content class="mat-typography">
    <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Title</mat-label>
        <input
            matInput
            placeholder="Enter document title"
            [(ngModel)]="documentTitle"
        />
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Content</mat-label>
        <textarea
            matInput
            placeholder="Enter document content"
            [(ngModel)]="documentContent"
            rows="5"
        ></textarea>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
        mat-raised-button
        color="primary"
        (click)="isEditMode ? onSaveChangesDocument() : onCreateDocument()"
    >
        <ng-container
            *ngIf="isEditMode; then saveChangesButton; else createButton"
        ></ng-container>
        <ng-template #createButton>Create</ng-template>
        <ng-template #saveChangesButton>Save Changes</ng-template>
    </button>
</mat-dialog-actions>
